<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>firstAngular</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <link rel="stylesheet" href="bower/_bower.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body ng-app="firstAngular">

  <div ng-app='boomTest'>

  <input type="text" class='form-control' placeholder='Cost' ng-model='cost'>
  <h3>
    Cost: {{cost | currency}}
  </h3>

  <input type="text" class='form-control' placeholder='Quantity' ng-model='qty'>

  <h3>
    Quantity: {{quantity}}
  </h3>

  <h1>
    Total Cost: {{cost * qty | currency}}
  </h1>

  </div>

    <script type="text/javascript" src="bower/_bower.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <!-- endbuild -->
  </body>
</html>
